body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header1
{
  text-align: left;
  padding-left: 20px;
  width:100%;
  padding-bottom: 20px;
  padding-top: 20px;
  background-size: cover;
}

.mainlogo
{
  width: 200px;
  height: auto;
  padding-left: 3%;
  padding-top: 25px;
}

.heading1
{
  font-size: 60px;
  font-weight: 600;
  padding: 5%;
  padding-left: 4%;
}

.content1
{
  font-size: 23px;
  font-weight: 600;
  padding-left: 4%;
  padding-bottom: 30px;
}
.container
{
  margin :0;
  max-width: 95%;
  margin-left: 0;
  margin-right: 0;
}
.callerbox
{
  font-size: 20px;
  color: white;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header2
{
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 5%;
}
.decorater1
{
  height: 50px;
}
.heading2
{
  font-size: 40px;
}

.header2image
{
  width: 100%;
  object-fit: contain;
}
.contenthead2
{
  font-size: 25px;
  font-weight: 300;
  padding-top: 2%;
}
.contentpara2
{
  font-size: 25px;
  font-weight: 300;
  display: inline;
}
.hding2lg
{
  margin: 2%;
}
.buttonhead2
{
  margin-left: 10%;
  font-size: 25px;
  padding-left: 5%;
  padding-right: 5%;
}
.posters
{
  object-fit: cover;
  max-width: 90%;
  margin:4%;
  margin-top:10%;
}

.gapper
{
  margin-bottom: 20px;
}
.header4img
{
  max-width: 70%;
  margin-top: 20px;
}
.header5img
{
  object-fit: cover;
  margin-top: 30px;
  max-width: 90%;

}
.header51img
{
  max-width: 90%;
  margin-top: 150px;
}
.midcaller
{
  text-align: center;
  display: flex;
  border: solid black 1px;
  padding: 6px;
  border-radius: 15px;
  margin: 20px;
}
.midtext
{
  padding: 15px;
  padding-right: 15px;
  font-size: 25px;
}
.catcol
{
  font-size: 22px;
  padding: 28px;
  text-align: right;
  margin-top: 40px;
}

.flexlg
{
  max-width: 100%;
  height: auto;
}